body {
	font-family: sans-serif;
	display: block;
	margin: 0px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

button, input, select, textarea{
  font-family: inherit;
  font-size: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

}
strong {
	font-weight: bold;
}
li {
	display: list-item;

}

h3 {
	margin: 0;
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input {
	outline: none;

}

input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

button, select {
	text-transform: none;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

#grid{
    width: 1000px;
    margin: 0 auto;
    
}

.grid {
	max-width: 1024px;	
	margin: 0 auto;
	padding: 0 1em;
}

.grid2 {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 1em;

}

/* para git*/
.width12 {
	width: 98.33333333%;
}

.width {
	margin: 0.5em 0.83333333333333%;
	float: left;
	display: block;
	width: 31.66666667%;
}

.width3 {
	width: 23.33333333%;
}

.width9 {
	width: 73.33333333%;
}

.content {
	margin-top: 1.5em;
	margin: 0.5em 0.83333333333333%;
	float: left;
	display: block;
}

header {
	border-top: 5px solid #000;
}

.top-links {
	background-color: #f6f6f6;
	font-size: .8em;
	height: 3em;
}

.top-links a {
	color: #6d6d6d;
	text-decoration: none;
	display: inline-block;
}


.top-left  { 
	float: left;
	display: block;
	margin: 0 0.83333333333333% .3em;
	padding-top: 10px;
	
}

.top-left li{
	float: left;
	background-image: url('../imgs/mainmenu.png');
	background-repeat: no-repeat;
	position: relative;
	
}

.top-left li a{
 	font-size: .85em;
 	font-weight: bold;
	padding-left: 20px;

}

.top-left li a:hover{
	color: #4e4e4e;
	text-decoration: underline;
	font-weight: 700;

}

.top-right {
	text-align: right;
	margin: 0.3em 0.83333333333333%;
	float: left;
	display: block;
	width: 73.33333333%;

}

.top-right ul {
	display: inline-block;

}

.top-right ul li {
	display: inline-block;

}

.top-right ul li a {
	display: inline-block;
	padding: .5em 1em;
	border-right: 1px solid #ccc;
}

.top-right #cart-topmenu {
	display: inline-block;
}

.cart {	
	background: url('../imgs/shopping-bag.png') no-repeat right center;
	display: inline-block;
	padding-right: 2em;
	
}

#cart-topmenu a {
	margin-right: 8px;
	padding-right: 26px;
	padding: 3px 20px;

}

#cart-topmenu a:hover {
	text-decoration: underline;
}


#logo {
	clear: left;
}

#logo h2 {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#logo h2 a {
	background-image: url('../imgs/logo2.png');
	height: 43px;
	width: 182px; 
	display: block;
}

.search_width {
	margin: 0.5em 0.83333333333333%;
	float: left;
	display: block;
	width: 65%;

}

#search-box {
	font-size: 0.8em;
	float: right;
	width: 72%;
	margin: 0.6em 0;
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	display: table-row;

}

#search-box {
	display: 0 1em;
}

#search-box .search-scope-container {
  padding: 0px 1em;
 
}
/*
.search-scope{
	background-color: #f6f6f6;
	padding: 0px 0.75em;
	text-align: center;
}
*/
.hidden {
	display: none;
}

#search-box .search-scope-container select {
	width: 4.5 em;

}

.selectable select {
	border: none;
	position: absolute;
	padding: 9px 0px;
	width: 5%;
	background-color: #f6f6f6;
}

#search-box .search-scope-container select option {
	height: 1.2em;
	vertical-align: middle;
	line-height: 1.2em;
}

#search-box .search-input-container{
	width: 67%;
	padding: 0 67px;

}

#search-box #search-input{
	width: 100%;
	background-color: #ffffff;
	padding: 0.75em;
	border: 1px solid #ccc;
	border-width: 0px 1px;

}

#search-box .search-button-container {
	text-align: right;

}

#search-box .search-button{
	margin: 0 .7em;
	background: url('../imgs/search.png') center no-repeat;
	background-color: #f6f6f6;
	border: none;
	height: 18px;
	width: 18px; 
	vertical-align: middle;
	margin-top: -17px;
	
}

#menucenter {
	margin-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: .75em;
	font-family: sans-serif;
	padding-left: 1em;
	float: left;
}

#menucenter li {
	display: inline;
	margin-left: 2.5em;

}

#menucenter li:first-child {
	margin-left: 0em !important;
}

#menucenter a {
	text-decoration: none;
	color: #6d6d6d;
	margin: 0px;
	padding-bottom: 0.5em;
	border-bottom: 5px solid transparent;
	-webkit-transition: all .2s ease-in-out;
	display: inline-block;
	
}

#menucenter .current{
	border-bottom: 5px solid #008c2e;

}

#menucenter a:hover{
	color: #313131;
	border-bottom: 5px solid #6d6d6d;


}

h1#heading-top{
	display: block;
	clear: left;
	font-size: 1em;
	letter-spacing: .15em;
	font-family: sans-serif;
	text-transform: uppercase;
	padding: .55em 0 .45em 0;
	color: #313131;
	text-align: center;
	border: 1px solid #ebeaeb;
	border-width: 1px 0;
	background-color: #f6f6f6;
	margin-bottom: 1em;

}

.content img {

	width: 100%;
	
}

#breadcrumbs {
	clear: both;
	border: 1px solid #ebeaeb;
	border-width: 1px 0;
	padding: 1em 0 .75em 0;
	text-transform: uppercase;
	font-size: .75em;
	font-family: sans-serif;
}

#breadcrumbs li {
	display: inline-block;
	margin-left: 0px;

}

#breadcrumbs a {
	color: #6d6d6d;
	text-decoration: none;
}

#breadcrumbs a:after{
	content: '>';
	padding: 0 .5em;
	color: #ccc;
}

nav {
	font-size: .85em;
	letter-spacing: .05em;
}

nav ul {
	font-family: sans-serif;
	margin-bottom: .5em;
}

nav h3 {
	font-family: sans-serif;
	text-transform: uppercase;
	color: #000;
	line-height: 1.25em;
	margin-bottom: .5em;
}

nav ul ul {
	margin-bottom: .8em;
	margin-top: .4em;
	clear: left;
}

nav ul ul li {
	font-weight: bold;
	line-height: 1.2em;
	margin: .7em 0;
	color: #888;
}

nav ul ul li a {
	-webkit-transition: all .25s ease-in-out;
	padding: 0 0 0 .5em;
	border-left: .25em solid transparent;
	font-weight: normal;
}

nav ul ul li a:hover {
	color: #000;
	text-decoration: underline;
	border-color: #ccc;
	outline: 0;

}

nav a {
	color: #888;
	text-decoration: none;
}

nav hr {
	width: 70%;
	margin: 0 0 1em .5em;
	border: none;
	border-top: 1px solid #f6f6f6;
}

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

nav hr.thin {
	width: 60%;
	border-color: #ccc;
	border-top-width: 1px;
	text-align: left;
	margin: .5em 0 1em .6em;
}

nav h3 a {
	color: #000;
	border-bottom: 1px dotted #ccc;
	display: inline-block;
	margin-top: .6em;
}

h3 a:hover {
	font-size: inherit;
	text-transform: uppercase;
	color: #000;
	line-height: 1.25em;
	font-weight: bold;
	text-decoration: underline;

}

nav h4 {
	font-size: 0.9em;
	text-transform: uppercase;
	color: #000;
	line-height: 1.25em;
	margin-bottom: 0.5em;
}

.precios li a {
	background: url('../imgs/multifacets-checkbox.png') no-repeat 0 -1px;
	display: inline-block;
	padding-left: 2em;
	border: 0 !important;
	line-height: normal;
}
.precios li a:hover {
	
}

nav ul ul.size li a{
	border: 0px;
	padding: 0;
}

ul.size li {
	display: inline;
	width: 2.8em;
	padding: .4em;
	border: 1px solid #ccc;
	margin: 0 .6em .3em 0;
	text-align: center;
	float: left;
}

ul.size li {

}

#maincontents {
	font-family: sans-serif;
	overflow: hidden;
	position: relative;
	float: left;
}

#maincontent img{
	position: static !important;
	width: 100%;
	vertical-align: middle;
	padding-left: 6px;

}

.cabecera img {
	position: static !important;
	vertical-align: middle;
	padding-left: 6px;
	max-width: 99%;
}

.overlay {
	position: relative;
}

.overlay a {
	color: #000;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: .9em;
	padding: .7em 1.8em .5em;
	border: 1px solid black;
	margin-top: -42px; 
	margin-right: 1em;
	float: right;

}

.overlay a:hover {
	background-color: #fff;
}

.promos {
	height: 238px;
	position: relative;
	overflow: hidden;

}
.promos a{
	text-decoration: none;
}

.promos img{
	position: absolute;
	max-width: 32.3%;
	padding-top: 16px;
	padding-left: 6px;
	 
		
}

.artwork {
	float: left;
	width: 33.3%;
}

.overlaybox {
	position: relative;
	background-color: rgba(0,86,96,0.85);
	color: #fff;
	pointer-events: none;
	text-align: center;
	width: 97%;
	margin-left: 6px;
	margin-top: 52%;
	padding-top: 0.1em;
}

.overlaybox h3 {
	text-transform: uppercase;
	position: relative;
	font-size: .9em !important;
	line-height: 1em;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin-top: 9px;

}

.overlaybox h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: -0.7em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	text-transform: uppercase;
}

.ver {
	bottom: 0.8em !important;
	position: absolute;
	margin-left: 79px;
}

.ver a span {
	background-color: rgba(0,86,96,0.6);
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding: .7em 1.8em .5em;
	font-size: .8em !important;
	text-align: center;
}

.ver a:hover {
	background-color: rgba(0,86,96,0.9);



}

#shop {
	text-transform: uppercase;
	letter-spacing: .05em;
}

form.sort {
	margin-top: 14px;
	height: 2em;
}

.mtop {
	margin-top:  0px;
	font-weight: bold;
}

.mtop select {
	border: none;
	position: absolute;
	opacity: 0;
	z-index: 1;

}

.mtop span {
	font-size: .7em;
	line-height: 2.1em;
	overflow: hidden;
	white-space: nowrap;
	z-index: 0;
}

.mtop span:after {
	line-height: 1.2em;
	content: "\f0dd";
	vertical-align: top;
	padding: .2em 0 0 .4em;
	display: inline-block;
	font-family: Awesome;
}

form.sort label {
	font-size: .7em;
	line-height: 1.9em;
	margin-top: .2em;
	padding: .4em .4em 0 0;
}

.articulos {
	margin-top: -23px;

}

.articulos label {
	margin-left: 250px;
}

.pagination2 {
	float: right;
	font-size: .7em;
	margin-top: 4px;
	margin-right: -1px;
	margin-left: 0;
	margin-bottom: 0;
	height: 3.5em;
	
}

.pagination2 li {
	display: inline;
	margin-left: .8em;

}



.pagination2 li a {
	padding-bottom: .6em;
	text-decoration: none;
	color: #6d6d6d;
}

.pagination2 li a.current {
	color: #000;
	border-bottom: 1px solid #000;
}
.pagination2 li#list-3 {
	background: url('../imgs/items-per-sprite.png') bottom right no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
}

.pagination2 li#list-3 a {
	display: inline-block;
	width: 16px;
	height: 16px;

}

.pagination2 li#list-2 {
	background: url('../imgs/items-per-sprite.png') top left no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;

}

.pagination2 li#list-2 a {
	display: inline-block;
	width: 16px;
	height: 16px;

}

.pagination {
	float: right;
	font-size: .7em;
	margin-top: 4px;
	margin-right: -1px;
	margin-left: 0;
	margin-bottom: 0;
	height: 3.5em;
	
}

.pagination li {
	display: inline;
	margin-left: .8em;

}



.pagination li a {
	padding-bottom: .6em;
	text-decoration: none;
	color: #6d6d6d;
}

.pagination li a.current {
	color: #000;
	border-bottom: 1px solid #000;
}
.pagination li#list-3 {
	background: url('../imgs/items-per-sprite.png') bottom right no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
}

.pagination li#list-3 a {
	display: inline-block;
	width: 16px;
	height: 16px;

}

.pagination li#list-2 {
	background: url('../imgs/items-per-sprite.png') top left no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;

}

.pagination li#list-2 a {
	display: inline-block;
	width: 16px;
	height: 16px;

}

.ofertas {
	height: 70px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	border: 7px double transparent;
	box-sizing: border-box;
	margin-top: 1.1em;
	display: inline-block;
	margin-left: 12em;
}
 h2.regular { 
 	font-size: 1.2em;
 	padding: 0 1em !important;
 	display: inline-block;
 	line-height: 1em;
 	margin: 0;
 }
.products {
	list-style: none;
	margin-top: 43px;
	margin-right: -19px;
	padding: 0;

}

.product {
	width: 32%;
	float: left;
	margin: 0 3px;
	border-radius: 5px;
	min-height: 440px;
}

.products1 {
	width: 103.5%;
	float: left;
	margin-top: 6px;
	margin-right: 10px;
	margin-bottom: 0px;
	 margin-left:  191px;
	border-radius: 5px;
	min-height: 440px;
}

.produ1 {
	position: relative;
	width: 100%;
}

.product .product-image {
	box-sizing: border-box;
	border: 1px solid #e6e6e6;
	width: 100% !important;
}
.product span.pad {	
	height: 1.85em;
	display: block;

}

.product h2{
	color: #888;
	font-weight: normal;
	letter-spacing: 0.005em;
	font-size: .75em;
	line-height: 1.2em;
	text-align: left;
}

.product h2 a {
	text-decoration: none;
	color: #888;
}

.product h3 {
	min-height: .9em;
  	letter-spacing: 0.005em;
	font-size: .75em;
	line-height: 1.2em;
	
	text-align: left;
}

.price {
	margin: .5em 0 .5em;
	text-align: left;
}

.pagination {
	float: right;
	font-size: .7em;
	margin: .2em 0 0;
	height: 3.5em;
	
}

.pagination li {
	display: inline;
	margin-left: .8em;
}

.pagination li a {
	padding-bottom: .6em;
	color: #6d6d6d;
	text-decoration: none;
}
.img-big {
	float: left;
	overflow: hidden;
	position: relative;
	height: 425px !important;
}

footer {
	background: #f6f6f6;
	clear: both;

}

.bottom-links {
	clear: both;
	border-top: 5px solid #ccc;
	margin-top: 0;
	color: #6d6d6d;
	font-size: .8em;
}

.columns {
	margin: 0.5em 0.83333333333333%;
	float: left;
	display: block;
	width: 23.33333333%;
}

.bottom-links h4 {
	display: inline-block;
	margin-top: 1em 0 .5em;
}

footer ul {
	padding-right: 2em;
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	padding: 0;
	margin: 0;
	margin-top: -18px;
}

footer ul li {
	margin: .5em 0;
	line-height: 1.25em;
	font-weight: bold;
	text-align: left;
	display: block;
}

footer ul li a{
	font-weight: lighter;
	text-decoration: none;
	color: #6d6d6d;

}

.phone {
	background-color: #ccc;
	color: #ccc;
	display: inline-block;
	margin: .3em 0 .4em .2em 1.5em;
	font-size: 1.75em;
	background: url('../imgs/phone-icon.png') no-repeat;
	line-height: 1.5em;
	float: right;
}

a.phone {
	padding: 0 27px;	
	text-decoration: none;
}

.back-top {
	color: #6d6d6d;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.8em;
}

a.back-top:hover{
	color: #000;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 0.8em;
}

footer-icono {
	background: url('../imgs/iconfooter.png') no-repeat center;
	height: 78px;
	width: 570px;
	margin-top: 401px;
	margin-left: 183px;
}

footer p {
	clear: both;
	color: #6d6d6d;
	text-align: center;
	font-size: .8em;
	margin: 0;
	padding: 2em 0;
}	

@media screen and (min-width: 767px) and (max-width: 1023px) {
	.grid {
		max-width: 768px;
		margin: 0 auto;
	}

	.grid2 {
		max-width: 768px;
		width: initial;
	}

	.top-left {
		width: 25%;
		margin-right: 0;
	}

	.top-right {
		width: 74%;
		font-size: .9em;
		margin: 0;
	}

	.top-right ul {
		display: inline-block;
		padding-top: .5em;
	}

	.top-right ul li {
		line-height: 1.35em;
	}

	.top-right ul li a {
		padding: .5em .4em;
	}

	#content-main {
		padding: 0 1em;

	}

	#menucenter {
		font-size: .72em;
	}

	.products {
		list-style: none;
		margin: 0;
		padding: 0;
		margin-top: 4%;

	}

	.product {
		float: left;
		width: 48.9%;
		margin: 0 1% 1em 0;

	}

	.product li:first-child{
		margin-right: 0 !important;
	}

	.pagination li#list-3 {
		display: none;
	}

	.pagination li#list-2 {
		display: none;
	}

}




@media screen and (min-width: 480px) and (max-width: 767px) {

	.grid {
		width: 480px;
		margin: 0 auto;
	}

	.grid2 {
		max-width: 100%;
		width: initial;
	}

	header {
		border-top: none;
	}

	.top-links {
		margin-top: 5em;
		height: 0;
	}

	.top-left {
		float: none;
		display: none !important;
		width: auto;
		clear: both;
		margin: 0 0.83333333333333% .3em;
	}

	.top-left li {
		float: left;
	}

	.top-right {
		float: none;
		width: auto;
		clear: both;
		display: block;
		text-align: center;
	}

	#top-menu {
		font-size: 1em;
		text-align: center;
	}

	#top-menu li {
		display: inline-block;
	}

	#top-menu li a {
		display: inline-block;
		padding: .5em .2em;
		border-right: 1px solid #ccc;
	}

	#top-menu li:last-child a {
		border: none;
	}

	.header-static-mobile {
		width: 110%;
		border-top: 5px solid white;
		position: fixed;
		z-index: 9000010;
		background-color: white;
		background-repeat: repeat-x;
		top: 0;
		left: 0;
		height: 3.7em;
		
	}

	.width {
		float: none;
		width: auto;
		clear: both;
		display: block;
	
	}

	#logo {
		float: left;
		clear: none;
		margin-left: 1.6em;

	}

	#logo a {
		background-position: 0 -2px;
		width: 197px;
		height: 42px;
	}

	#logo h2 {
		margin: 0;
		padding: 0;
		line-height: 1em;
	}

	#logo h2 a {
		background-image: url('../imgs/logo.png');
	}

	.width3 {
		display: none !important;
	}

	#cart-topmenu {
		text-align: right;
		border: none !important;
		box-shadow: none !important;
		background: none !important;
		float: right;
		position: fixed;
		z-index: 999999999;
		margin-top: -4em;
		right: 0;
	}

	#cart-topmenu a {
	padding: 0.5em 27px;

	}

	.search_width {
		float: none;
		width: auto;
		clear: both;
		display: block;
		padding: 0 1em;
	}

	#search-box {
		width: 97%;
		margin-top: 2em;
		padding: 0 1em;
	}

	#content-main {
		padding: 0 1em;

	}

	#sema-inter img {
		display: none;
	}

	#menucenter {
		display: none;
	}

	#breadcrumbs {
		display: none;
	}

	#nav-left {
		display: none;
	}

	.cabecera {
		display:none;
	}

	.promos {
		display: none;
	}

	#maincontents {
		width: 143%;
		margin: 0;
	}

	.content {
		float: none;
		clear: both;
		display: block;
		margin: 0 0.83333333333333%;
	}

	form.sort {
		margin-top: 0;
		width: 100%;
	}

	label#n-art {
		line-height: 6em;
		margin-left: 0%;
	}	

	.articulos {
		float: none;
		width: 141%;
	}

	

	.products {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 143%;

	}

	.product {
		float: left;
		width: 46.5%;
		margin: 0 1% 1em 0;

	}

	.pagination li#list-3 {
		display: none;
	}

	.pagination li#list-2 {
		display: none;
	}

	.pagination {
		display: none;
	}

	.columns {
		float: none;
		width: auto;
		clear: both;
		display: block;
	}

	.phone {
		float: none;
	}

}

@media screen and (min-width: 0px) and (max-width: 479px) {


	.grid {
		max-width: 100%;

	}

	.grid2 {
		max-width: 100%;
		width: initial;

	}

	header {
	border-top: none;

	}

	.top-links {
		margin-top: 5em;
		height: 0;
	}

	.top-left {
		float: none;
		display: none !important;
		width: auto;
		clear: both;
		margin: 0 0.83333333333333% .3em;
	}

	.top-left li {
		float: left;
	}

	.top-right {
		float: none;
		width: auto;
		clear: both;
		display: block;
		text-align: center;
	}

	#top-menu {
		font-size: 1em;
		text-align: center;
	}

	#top-menu li {
		display: inline-block;
	}

	#top-menu li a {
		display: inline-block;
		padding: .5em .2em;
		border-right: 1px solid #ccc;
	}

	#top-menu li:last-child a {
		border: none;
	}

	.header-static-mobile {
		width: 110%;
		border-top: 5px solid white;
		position: fixed;
		z-index: 9000010;
		background-color: white;
		top: 0;
		height: 3.7em;
		margin: 0;
		margin-left: -15px;
	}

	.width {
		float: none;
		width: auto;
		clear: both;
		display: block;
	
	}

	#logo {
		float: left;
		clear: none;
		margin-left: 1.8em;

	}

	#logo a {
		background-position: 0 -2px;
		width: 197px;
		height: 49px;
	}

	#logo h2 {
		margin: 0;
		padding: 0;
		line-height: 1em;
	}

	#logo h2 a {
		background-image: url('../imgs/logo.png');


	}

	.width3 {
		display: none !important;
	}

	#cart-topmenu {
		text-align: right;
		border: none !important;
		box-shadow: none !important;
		background: none !important;
		float: right;
		position: fixed;
		z-index: 999999999;
		margin-top: -4em;
		right: 0;
		width: 112px;
	}

	#cart-topmenu a {
	padding: 0.5em 27px;

	}

	.search_width {
		float: none;
		width: auto;
		clear: both;
		display: block;
		padding: 0 1em;
	}

	#search-box {
		width: 97%;
		margin-top: 2em;
		padding: 0 1em;
	}

	#content-main {
		padding: 0 1em;

	}

	#sema-inter img {
		display: none;
	}

	#menucenter {
		display: none;
	}

	#breadcrumbs {
		display: none;
	}

	#nav-left {
		display: none;
	}

	.cabecera {
		display:none;
	}

	.promos {
		display: none;
	}

	#maincontents {
		overflow: inherit;
	}

	.content {
		float: none;
		clear: both;
		display: block;
		margin: 0 0.83333333333333%;
	}

	.width9 {
		
	}

	form.sort {
		margin-top: 0;
		width: 100%;
	}

	.articulos {
		display: none;
	}

	

	.products {
		margin-top: 0;
		margin-right: 0;
		width: 133%;

	}

	.product {
		width: 100%;
		float: none;
		margin: 0;

	}

	.pagination li#list-3 {
		display: none;
	}

	.pagination li#list-2 {
		display: none;
	}

	.columns {
		float: none;
		width: auto;
		clear: both;
		display: block;
	}

	.phone {
		float: none;
	}

}













































































































/*
#header{
	margin-top: 43px;
}
#footer-bg {
	 font-family: sans-serif;
    background-attachment: scroll;
    position: center;
    width: 1000px;
    margin: 0 auto;
}

.footer {
	border-top: 5px solid #ccc;
	clear: both;
	margin-top: 0;
	font-size: .8em;
	color: #6d6d6d;
	background: #f6f6f6 ;
}
#logo  {
	float:left;
	margin: 27px 13px 0 0;
	
	

}
.bck-fot {
	background-color: #f6f6f6;
	background-repeat: repeat;
	background-attachment: scroll;
	margin-top: 1081px;
}
.search-scope-container li{	
	background: url('../imgs/row-scope.png') no-repeat right;
}
.search-scope-container li a{
	color: #000000;
	text-decoration: none;

}


.search-input-container:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #6d6d6d;


}
#search-input{
	width: 100%;
	background-color: #ffffff;
	padding: 0.75em;
	border-style: solid;
	border-color: #cccccc;
	border-width: 0px 1px;

}

#search-input:focus{
  background-color: #ffffcc;
  border-top-color: #dddd00;
  border-right-color-value: #dddd00;
  border-bottom-color: #dddd00;
  border-left-color-value: #dddd00;
}

#menu {
	float:left;
	margin-top: 4px;
	margin-left: -5%;
}
#menucenter { 
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.75em;
	
}

#menucenter a:active {
	border-bottom: 5px solid #008c2e;
	padding-bottom: 7px;
	
}

.menucenter li a:hover{
	background-image: url('../imgs/menucenter.png');
	margin-bottom: -5px;
	background-repeat: repeat-x;
	background-position: 10px 16px;
	text-decoration: none;
	color:#313131;
	transition: #148639 3s linear 1s;
}




#nav-top {
	margin-top: 0;
	margin: 0.5em 0.8333%;
	float: left;
	display: block;

}


.top-links{
	font-size: 0.74em;
	margin-top: -83px;

	
}

.top-links a{
	color: #6d6d6d;
	text-decoration: none;
}

#promo-up {
	background-color: #266f78;
	width: 100%;
	line-height: 2.5em;
	color: #fff;
	font-family: Arial,Helvetica;
	font-size: .8em;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 1em;
	letter-spacing:  .1em;
	font-weight: bold;
	

}
.top-right{
	
	width: 50%;
	font-size: 0.9em;
	margin-left: 600px;
	margin-top: -25px;
	list-style:  none;
}

ul.top-right li{
	 
	border-right: 1px solid #ccc; 
	padding: 10px 20px;
	display: inline; 

}

ul.top-right li a{
	text-decoration:none;

	
}
ul.top-right li a:hover{
	color: #333333;
	text-decoration: underline;
}






#breadcrumbs li{
	display: inline-block;
}
#breadcrumbs a{
	color: #6d6d6d;
	text-decoration: none;
}


/*
.leftbottom li{
	list-style: none;
	display: list-item;

}
.leftbottom li a{
	color: #6d6d6d;
	text-decoration: none;
}

.nav-left{
	float: left;
	
	margin-top: -0.5em;
	display: block;
	width: 23.%;

}

nav {
	font-size:  0.74em;
	letter-spacing: .05em;
	display: block;

}

nav ul{
	margin-bottom: .5em;
	list-style: none;
	padding: 0;
	margin: 0;

}



nav ul li {
	text-align: -webkit-match-parent;
	

}

nav ul ul {
	margin-top: .8em;
	clear: left;

}

nav ul ul li  {
	font-weight: bold;
	line-height: 1.2em;
	margin: .7em 0;


}

nav ul ul li a {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0.5em;
	color: #888 ;
	text-decoration: none;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: initial;
	border-left-width: 0.25em;
	border-left-style: solid;
	border-left-color: transparent;
	font-weight: normal;
	-webkit-transition:all .25s ease-in-out;


}



hr {
	
	height: 0;

}


nav hr {
	border:none;
	border-top: 1px solid #f6f6f6;
}

nav hr.thin {
	width: 60%;
	border-color: #ccc;
	border-top-width: 1px;
	text-align: left;
	margin: .5em 0 1em .6em;
}

h3 a {
	font-size: 1.1em;
	text-transform: uppercase;
	color: #000;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border-bottom: 1px dotted #CCC;
	
	display: inline-block;

}




.precios li {

}


ul #filters ul ul {
	line-height: 0;

}

nav ul ul.size {
	margin: 0 0 1.25em 0;
	display: inline-block;
}



nav ul ul.size li a {
	border: 0;
	padding: 0;
}
#main {
	width: 100%;
}

