
#page-bg{
    font-family: sans-serif;
    background-attachment: scroll;
    position: center;
    width: 1000px;
    margin: 0 auto;
    
}
/* para git*/
button, input, select, textarea{
  font-family: inherit;
  font-size: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

}

#top{
	background-color: #f6f6f6;
	background-repeat: repeat;
	background-attachment: scroll;
	margin-top: -13px;
	height: 3em;
}

#promo-up {
	background-color: #266f78;
	width: 100%;
	line-height: 2.5em;
	color: #fff;
	font-family: Arial,Helvetica;
	font-size: .8em;
	text-transform: uppercase;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 1em;
	letter-spacing:  .1em;
	font-weight: bold;
	

}

.top-links{
	font-size: 0.74em;
	margin-top: -83px;

	
}

.top-links a{
	color: #6d6d6d;
	text-decoration: none;
}
.mainmenu  { 
	list-style: none;
	font-size: 0.9em;
	font-weight: 700;
	padding-top: 10px;
}

.mainmenu li{
	background-image: url('../imgs/mainmenu.png');
	background-repeat: no-repeat;
	position: relative;
	
}

.mainmenu li a{
 	display: inline-block;
	padding-left: 20px;

}
.mainmenu li a:hover{
	color: #4e4e4e;
	text-decoration: underline;
	font-weight: 700;
}

.top-right{
	
	width: 50%;
	font-size: 0.9em;
	margin-left: 600px;
	margin-top: -25px;
	list-style:  none;
}

.top-right li{
	 
	background: url('../imgs/menuright.png') no-repeat right;  
	padding: 10px 20px;
	display: inline; 

}

.top-right li a{
	text-decoration:none;

	
}
.top-right li a:hover{
	color: #333333;
	text-decoration: underline;
}

.cart {	
	display: inline-block;
	background: url('../imgs/shooping-bag.png') no-repeat right center;
	padding-right: 2em;
}

#header{
	margin-top: 43px;
}

#logo  {
	float:left;
	margin: 27px 13px 0 0;
	background-image: url('../imgs/logo2.png');
	height: 43px;
	width: 182px; 

}

#search-box{
	font-size: 0.8em;
	float: right;
	width: 60%;
	margin: 0.6em -7px;
	background-color: #f6f6f6;
	margin-top: 15px;
	border: 1px solid #ccc;
	display: table-row;

}

.search-scope-container{
  padding: 0px 1em;
  float: left;
  margin-top: 5px;
  list-style:  none;
  width: 4.5em;
}

.search-scope{
	background-color: #f6f6f6;
	padding: 0px 0.75em;
	text-align: center;
}
.search-scope-container li{	
	background: url('../imgs/row-scope.png') no-repeat right;
}
.search-scope-container li a{
	color: #000000;
	text-decoration: none;

}

.search-input-container{
	width:78%;
	float: left;
	margin-top: 10px;
}
.search-input-container:hover {
	border-width: 1px;
	border-style: solid;
	border-color: #6d6d6d;


}
#search-input{
	width: 100%;
	background-color: #ffffff;
	padding: 0.75em;
	border-style: solid;
	border-color: #cccccc;
	border-width: 0px 1px;

}

#search-input:focus{
  background-color: #ffffcc;
  border-top-color: #dddd00;
  border-right-color-value: #dddd00;
  border-bottom-color: #dddd00;
  border-left-color-value: #dddd00;
}
.search-button{
	background-image: url('../imgs/search.png');
	background-repeat: no-repeat;
	background-color: #f6f6f6;
	border: 0px;
	height: 19px;
	width: 19px; 
	margin-top: 17px;
	margin-left: 10px;
	
}
#menu {
	float:left;
	margin-top: 4px;
	margin-left: -5%;
}
#menucenter { 
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.75em;
	
}
#menucenter li {
	display: inline;
	padding: 5px 15px;
}
#menucenter li a {
	text-decoration: none;
	color: #6d6d6d;
	margin: 0px;
	padding-bottom: 0.5em;
	border-bottom: 5px solid transparent;
	
}
/*
#menucenter li:first-child {
	margin-left: 0em !important;

}
*/
#menucenter a:active {
	border-bottom: 5px solid #008c2e;
	padding-bottom: 7px;
	
}
/*
.menucenter li a:hover{
	background-image: url('../imgs/menucenter.png');
	margin-bottom: -5px;
	background-repeat: repeat-x;
	background-position: 10px 16px;
	text-decoration: none;
	color:#313131;
	transition: #148639 3s linear 1s;
}
*/
#menucenter a:hover{
	color: #313131;
	border-bottom: 5px solid #6d6d6d;
	padding-bottom: 7px;

}
#menucenter .current{
	border-bottom: 5px solid #008c2e;
	padding-bottom: 7px;

}

#nav-top img{
	position: static !important;
	width: 100%;
	

}
#heading-top{
	clear: left;
	font-size: 1em;
	letter-spacing: .15em;
	font-family: sans-serif;
	text-transform: uppercase;
	padding: .55em 0 .45em 0;
	color: #313131;
	text-align: center;
	border: 1px solid #ebeaeb;
	border-width: 1px 0;
	background-color: #f6f6f6;
	margin-bottom: 1em;
	margin-top: 0px;

}
#breadcrumbs{
	clear: both;
	border: 1px solid #ebeaeb;
	border-width: 1px 0;
	padding: 1em 0 .75em 0;
	text-transform: uppercase;
	font-size: .75em;
}
#breadcrumbs li{
	display: inline-block;
}
#breadcrumbs a{
	color: #6d6d6d;
	text-decoration: none;
}
#breadcrumbs a:after{
	content: '>';
	padding: 0 .5em;
	color: #ccc;
}

/*
.leftbottom li{
	list-style: none;
	display: list-item;

}
.leftbottom li a{
	color: #6d6d6d;
	text-decoration: none;
}
*/
.leftbottom{
	float: left;
	
	margin-top: -0.5em;
	display: block;
	width: 23.33333333%;

}

nav {
	font-size:  0.74em;
	letter-spacing: .05em;
	display: block;

}

nav ul{
	margin-bottom: .5em;
	list-style: none;
	padding: 0;
	margin: 0;

}



nav ul li {
	text-align: -webkit-match-parent;
	

}

nav ul ul {
	margin-top: .8em;
	clear: left;

}

nav ul ul li  {
	font-weight: bold;
	line-height: 1.2em;
	margin: .7em 0;


}

nav ul ul li a {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0.5em;
	color: #888 ;
	text-decoration: none;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-in-out;
	-webkit-transition-delay: initial;
	border-left-width: 0.25em;
	border-left-style: solid;
	border-left-color: transparent;
	font-weight: normal;
	-webkit-transition:all .25s ease-in-out;


}

nav ul ul li a:hover {
	color: #000;
	text-decoration: underline;
	border-color: #ccc;
	outline: 0;

}

hr {
	
	height: 0;

}


nav hr {
	border:none;
	border-top: 1px solid #f6f6f6;
}

nav hr.thin {
	width: 60%;
	border-color: #ccc;
	border-top-width: 1px;
	text-align: left;
	margin: .5em 0 1em .6em;
}

h3 a {
	font-size: 1.1em;
	text-transform: uppercase;
	color: #000;
	line-height: 1.25em;
	margin: 0;
	padding: 0;
	text-decoration: none;
	border-bottom: 1px dotted #CCC;
	
	display: inline-block;

}

h3 a:hover {
	font-size: 1.1em;
	text-transform: uppercase;
	color: #000;
	line-height: 1.25em;
	font-weight: bold;
	text-decoration: underline;

}
nav h4 {
	font-size: 0.9em;
	text-transform: uppercase;
	color: #000;
	line-height: 1.25em;
	margin-bottom: 0.5em;
}

.precios li {

}
.precios li a {
	background: url('../imgs/multifacets-checkbox.png') no-repeat 0 -1px;
	display: inline-block;
	padding-left: 2em;
	border: 0 !important;
	line-height: normal;
}

ul #filters ul ul {
	line-height: 0;

}

nav ul ul.size {
	margin: 0 0 1.25em 0;
	display: inline-block;
}

nav ul ul.size li {
	display: inline;
	float: left;
	width: 2.8em;
	padding: .4em;
	border: 1px solid #ccc;
	margin: 0 .6em .3em 0;
	text-align: center;
}

nav ul ul.size li a {
	border: 0;
	padding: 0;
}

.maincontent img{
	max-width: 100%;
	position: static !important;
	border:0;
	vertical-align: middle;
	overflow: hidden;
	position: relative;

}

.cabecera img{
	position: static !important;
	max-width: 76%;
	vertical-align: middle;
	padding-left: 6px;

}
.text-right a {
	color: #000;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: .2em;
	font-size: .9em;
	padding: .7em 1.8em .5em;
	border: 1px solid black;
	margin-top: -42px; 
	margin-left: 45em;

}
.promos {
	height: 238px;
	position: relative;
	overflow: hidden;

}
.promos a{
	text-decoration: none;
}

.promos img{
	position: absolute;
	max-width: 32%;
	padding-top: 16px;
	padding-left: 6px;
		
}

.promos1 {
	height: 238px;
	position: relative;
	overflow: hidden;

}
.promos a{
	text-decoration: none;
}

.promos img{
	position: absolute;
	max-width: 32%;
	padding-top: 16px;
	padding-left: 6px;
		
}

.p2 {
	margin-left: 258px;

}

.p3 {
	margin-left: 516px;
}

.overlaybox {
	padding: 10px 0 apx 0;
	bottom: 4em !important;
	position: absolute;
	background-color: rgba(0,86,96,0.85);
	color: #fff;
	pointer-events: none;
	text-align: center;
	width: 32%;
	height: 35%;
	margin-left: 6px;
}
.overlaybox h3 {
	text-transform: uppercase;
	position: relative;
	font-size: .9em !important;
	line-height: 1em;

}

.ver {
	bottom: 0.8em !important;
	position: absolute;
	width: 100%;
	margin-left: 79px;
}

.ver a span {
	background-color: rgba(0,86,96,0.85);
	color: #fff;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: .2em;
	padding: .7em 1.8em .5em;
	font-size: .8em !important;
	text-align: center;
}

#shop {
	text-transform: uppercase;
	letter-spacing: .05em;
}

form.sort {
	margin-top: 14px;
}

.mtop {
	margin-top:  0px;
	font-weight: bold;
}

.mtop select {
	border: none;
	position: absolute;
	opacity: 0;
	z-index: 1;

}

.mtop span {
	font-size: .7em;
	line-height: 2.1em;
	overflow: hidden;
	white-space: nowrap;
	z-index: 0;
}

.mtop span:after {
	line-height: 1.2em;
	content: "\f0dd";
	vertical-align: top;
	padding: .2em 0 0 .4em;
	display: inline-block;
	font-family: Awesome;
}

form.sort label {
	font-size: .7em;
	line-height: .9em;
	float: left;
	margin-top: .2em;
	padding: .4em .4em 0 0;
}

.articulos {
	margin-top: -23px;
}

.articulos label {
	margin-left: 250px;
}

.pagination {
	float: right;
	font-size: .7em;
	margin-top: 4px;
	margin-right: -1px;
	margin-left: 0;
	margin-bottom: 0;
	height: 3.5em;
	
}

.pagination li {
	display: inline;
	margin-left: .8em;

}



.pagination li a {
	padding-bottom: .6em;
	text-decoration: none;
	color: #6d6d6d;
}

.pagination li a.current {
	color: #000;
	border-bottom: 1px solid #000;
}
.pagination li#list-3 {
	background: url('../imgs/items-per-sprite.png') bottom right no-repeat;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
}

.pagination li#list-3 a {
	display: inline-block;
	width: 16px;
	height: 16px;

}

.pagination li#list-2 {
	background: url('../imgs/items-per-sprite.png') top left no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;

}

.pagination li#list-2 a {
	display: inline-block;
	width: 16px;
	height: 16px;

}

.products {
	list-style: none;
	margin-top: 43px;
	margin-right: -19px;
	padding: 0;

}

.product {
	width: 24.5%;
	float: left;
	margin: 0 10px 0 0;
	border-radius: 5px;
	min-height: 440px;
}

.products1 {
	width: 103.5%;
	float: left;
	margin-top: 6px;
	margin-right: 10px;
	margin-bottom: 0px;
	 margin-left:  191px;
	border-radius: 5px;
	min-height: 440px;
}

.produ1 {
	position: relative;
	width: 100%;
}

.product .product-image {
	box-sizing: border-box;
	border: 1px solid #e6e6e6;
	width: 100% !important;
}
.product span.pad {	
	height: 1.85em;
	display: block;

}

.product h2{
	color: #888;
	font-weight: normal;
	letter-spacing: 0.005em;
	font-size: .75em;
	line-height: 1.2em;
	text-align: left;
}

.product h2 a {
	text-decoration: none;
}

.product h3 {
	min-height: .9em;
  	letter-spacing: 0.005em;
	font-size: .75em;
	line-height: 1.2em;
	
	text-align: left;
}

.price {
	margin: .5em 0 .5em;
	text-align: left;
}

.pagination {
	float: right;
	font-size: .7em;
	margin: .2em 0 0;
	height: 3.5em;
	
}

.pagination li {
	display: inline;
	margin-left: .8em;
}

.pagination li a {
	padding-bottom: .6em;
	color: #6d6d6d;
	text-decoration: none;
}

#footer-bg {
	 font-family: sans-serif;
    background-attachment: scroll;
    position: center;
    width: 1000px;
    margin: 0 auto;
}

.footer {
	border-top: 5px solid #ccc;
	clear: both;
	margin-top: 0;
	font-size: .8em;
	color: #6d6d6d;
	background: #f6f6f6 ;
}

.columns {
	margin: 0.5em 0.83333333333333%;
	float: left;
	display: block;
	width: 23.33333333%;
}

.footer h4 {
	display: inline-block;
	margin-top: 1em 0 .5em;
}

.footer ul {
	padding-right: 2em;
}

.footer ul li {
	margin: .5em 0;
	line-height: 1.25em;
	font-weight: bold;
	text-align: left;
	display: block;
}

.footer ul li a{
	font-weight: lighter;
	text-decoration: none;
	color: #6d6d6d;

}

.phone {
	background-color: #ccc;
	color: #ccc;
	display: inline-block;
	margin: .3em 0 .4em .2em 1.5em;
	font-size: 1.75em;
	background: url('../imgs/phone-icon.png') no-repeat;
	line-height: 1.5em;
	float: right;
}

.footer-icono {
	background: url('../imgs/iconfooter.png') no-repeat center;
	height: 78px;
	width: 570px;
	margin-top: 401px;
	margin-left: 183px;
}

.bck-fot {
	background-color: #f6f6f6;
	background-repeat: repeat;
	background-attachment: scroll;
	margin-top: 1081px;
}

.footer p {
	clear: both;
	color: #6d6d6d;
	text-align: center;
	font-size: .8em;
	margin: 0;
	padding: 2em 0;
}